<!-- head -->
{include file="./_layout/header" /} 
<body>
	<!-- 左侧菜单 -->
	<div class="sidebar">
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="#" class="simple-text hover-under-no">Red-team</a>
			</div>
			{include file="./_layout/sidebar" /}	
		</div>
	</div>
	<!-- 右侧 -->
	<div class="main-panel">
		<!-- 菜单顶部 -->
		<div class="main-panel-top">
			{include file="./_layout/top" /}	
		</div>
		<!-- 面包屑导航 -->
		<div class="main-panel-breadcrumb">
			{include file="./_layout/breadcrumb" /}
		</div>
		<!-- 内容 -->
		<div class="main-panel-content">
			{__CONTENT__}
		</div>
	</div>

	

	{js href="/plugins/jquery-3.1.0.min.js" /}
	{js href="/bootstrap3/js/bootstrap.min.js" /}
</body>
</html>