{cx:toolbar id="toolbar"}
{/cx:toolbar}

<!-- 表格 -->
<table id="table" data-toggle="gridview" class="table" data-url="/{$Request.module}/{$Request.controller}" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="[10, 25, 50, All]" data-unique-id="id" data-side-pagination="">
    <thead>
		<tr>
			<th data-width="10" data-checkbox="true"></th>
			<th data-width="10" data-field="sort" data-formatter="format_sort">排序</th>
			<th data-width="30" data-field="title">菜单名称</th>
			<th data-width="10" data-field="level" >级别</th>
			<th data-width="10" data-field="status" data-formatter="format_status" >状态</th>
			<th data-width="100" data-field="url" >链接地址</th>
		</tr>
	</thead>
</table>


<div class="gridview2"></div>

<script type="text/javascript">
	function format_status(status,row,index) {
		if(status == 1){
			return '显示'
		}else if(status == 2){
			return  '隐藏'
		}else if(status == 0){
			return  '禁止'
		}
	}

	function format_sort(sort,row,index) {
		return '<input type="text" class="form-control sort" data-id="'+row.id+'"  value="'+sort+'" />';
	}

	var toolbarUrl = '/admin/menu/toolbar?menu=', $menuTable, $btn_gridview;
	$(function() {
		$menuTable = $('#table')
				.on('clickRow',function(e, row, $element) {
							if ($btn_gridview == null) {
								var $gridview2 = $('.gridview2');
								
								$gridview2.load(toolbarUrl + row.id,
									function() {
											// win.init($gridview2);
											// $btn_gridview = $('#btn_gridview').gridView();

											// $menuTable.gridView('resetView');
											// $('#current_menu').val(row.id);
											// $btn_gridview.data('data-menu',row.id);
										});
								return;
							} else if ($btn_gridview.data('data-menu') == row.id) {
								return;
							}

							// $btn_gridview.data('data-menu', row.id);
							// $btn_gridview.data('bootstrap.table').options.url = toolbarUrl
							// 		+ row.id;
							// $btn_gridview.bootstrapTable('refresh');
						}).on('deleted', function(e, ajaxData, status) {
					// 菜单删除移除按钮
					if (status != 'success') {
						return;
					}

					if ($btn_gridview != undefined) {
						var menu_id = $btn_gridview.data('data-menu');
						$.each(ajaxData.deletedRows, function(i, item) {
							if (menu_id == item.id) {
								$btn_gridview.bootstrapTable('load', {
									total : 0,
									rows : []
								});
								return false;
							}
						});
					}
				}).on('saveSort', function(e, gridview, params) {
					var list = {};
					$('#table tbody .sort').each(function(i, input) {
						list[input.dataset.id] = input.value;
					});

					alertConfirm({
						content : '<h4>确定保存排序吗？</h4>数字越大越靠前',
						ok : function() {
							$.ajax({
								url : '__URL__/saveSort',
								data : {
									list : list
								},
								dataType : "json",
								type : 'post',
								error : function() {
									alertMsg('排序失败！');
								}
							});
						}
					});
				});

	});
</script>
