<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{$Think.config.WEBSITE_NAME}</title>

	{css href="/bootstrap3/css/bootstrap.css" /}
	<!-- {css href="/bootstrap3/css/bootstrap.min.css" /} -->
	{css href="/font-awesome-4.6/css/font-awesome.min.css" /}
	{css href="/css/admin/layout.css" /}

</head>
	
