<?php


function get_menu_child_html($list){
	$html = '';
	foreach ($list as $k => $v) {
		$html .= '<li class="admin-menu-parent ">';
		$html .= '<botton class="admin-menu-dropdown-toggle">

			<span class="parent-active"></span>

			<i class="fa '.($v['icon'] ? $v['icon'] : 'fa-desktop' ).' icon" aria-hidden="true"></i>

			<span class="title">'. $v['button'] .'</span>

			<i id="toggle-angle" class="fa fa-angle-down" aria-hidden="true"></i>

		</botton>';
		$html .= '<ul class="admin-menu-child " style="display:;">';

		foreach ($list[$k]['sub_button'] as $key => $value) {
			$html .= '<li class="sub_button ">';

			$html .= '<a href="'.$value['url'].'"><i class="fa '.($value['icon'] ? $value['icon'] : 'fa-smile-o' ).' aria-hidden="true"></i>&nbsp;&nbsp;'. $value['title'] .'</a>';

			$html .= '</li>';
		}	

		$html .= '</ul>';
		$html .= '</li>';
	}
    return $html; 
}

$_menuList = \app\common\controller\Permission::menuList();
$_authUser = \app\common\controller\Permission::authUser();

echo '<div>
        <div class="hello-user">欢迎您~'. $_authUser['username'] .'  </div>
        <ul class="menu-list">'.get_menu_child_html($_menuList).'</ul>
      </div>';
?>
