<div class="navbar navbar-top">

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/admin/user/detail">Account</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>

            <ul class="dropdown-menu">
                <li><a href="http://shijinrong.cn/" target="_blank">Aierui</a></li>
                <li><a href="https://github.com/Aierui" target="_blank">Aierui github</a></li>
                <li><a href="http://weibo.com/imlander" target="_blank">Weibo</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="http://blog.shijinrong.cn/" target="_blank">Blog</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/login/out">Log out</a>
        </li>
    </ul>
</div>
