<form data-method="post" data-action="/admin/user/add" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">添加账号</h3>
                </div>

                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label must">姓名</label>
                        <div class="controls">
                            <input type="text" name="nick" placeholder="最多8个字符" maxlength="8" class="form-control" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">手机号码</label>
                        <div class="controls">
                            <input type="tel" name="mobile" placeholder="最多11个字符" maxlength="11" class="form-control"  required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">登陆密码</label>
                        <div class="controls">
                            <input type="password" name="password" placeholder="最多32个字符" maxlength="32" class="form-control">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">确认密码</label>
                        <div class="controls">
                            <input type="password" name="password2" placeholder="最多32个字符" maxlength="32" class="form-control" >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">状态</label>
                        <div class="controls">
                            <select name="status" class="form-control" required>
                                <option value="1" {$data[ 'status']==1 ? 'selected' : ''}>显示</option>
                                <option value="2" {$data[ 'status']==2 ? 'selected' : ''}>隐藏</option>
                                <option value="0" {$data[ 'status']==0 ? 'selected' : ''}>禁用</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- <script type="text/javascript" src="/js/admin/jquery.validate.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
    $("#commentForm").validate();
});
</script> -->
