<form method="post" action="/admin/user/add" data-validate="true" data-continue="true" data-submit="ajax" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label must">姓名</label>
                        <div class="controls">
                            <input type="text" name="nick" placeholder="最多8个字符" maxlength="8" class="required">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">手机号码</label>
                        <div class="controls">
                            <input type="tel" name="mobile" placeholder="最多11个字符" maxlength="11" class="required">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">登陆账号</label>
                        <div class="controls">
                            <input type="text" name="username" placeholder="最多16个字符" maxlength="16" class="required">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label must">登陆密码</label>
                        <div class="controls">
                            <input id="password" type="password" name="password" placeholder="最多32个字符" maxlength="32" class="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
